/*
Rood #dd3038;
Oranje #e7613a;
Licht oranje #FDF4F2;
Zwart #292929 (voor standaard tekst);
Wit #FFFFFF;
 */

@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Quicksand&family=Roboto+Condensed:wght@300&display=swap');

:root {
    --primary: #ededed;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outer-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.inner-container {
    flex-basis: 1200px;
    flex-grow: 0;
    flex-shrink: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

h1,h2 {
    font-family: 'Quicksand', sans-serif;
}

